:root {
  --white: #fefeff;
  --text-navbar-color: #1f1f1f;
}

@mixin content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin navbar-text {
  color: var(--text-navbar-color);
  font-size: 16px;
  font-weight: 400;
}

@mixin center-text {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}